/* teams styles */
.container{
    grid-gap: 10px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.Programmer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
@media only screen and (max-width: 668px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
    .programmer{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
    }
}